.divTexto{
    color:white;
    display: column;
    flex-direction: row;
    width: 450px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    font-family: Verdana, sans-serif;
}

.Imagem_Tweet{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 480px;
    background-color: black;
    border-radius: 20px;

}

body{
    background-color: black;
}

.estilizado{
    font-family: Verdana, sans-serif;
    color: blue;
}